<div class="container">
  <div class="row">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
      <h4 class="text-center"><b>Książki czytane</b></h4>
      <dl class="faq">
        <dt>. 4 godzinne ciało</dt>
        <dt>. 4 godziny w tygodniu</dt>
        <dt>. Zaufanie. Waluta przyszłości</dt>
        <dt>. Fenomenalny poranek</dt>
        <dt>. Przestań się martwić. Zacznij działać</dt>

      </dl>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
      <h4 class="text-center"><b>Książki przeczytane</b></h4>
      <dl class="faq">
        <dt>. Finansowy Ninja</dt>
        <dd>Przeczytana 1 raz</dd>
        <dt>. Getting things done</dt>
        <dd>Przeczytana 1 raz</dd>
        <dt>. Cele!</dt>
        <dd>Przeczytana 1 raz</dd>
      </dl>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
      <h4 class="text-center"><b>Do przeczytania</b></h4>
      <dl class="faq">
        <dt>. Bogaty ojciec. Bogaty syn</dt>
        <dt>. Getting things done</dt>
        <dt>. Cele!</dt>
      </dl>
    </div>
  </div>
</div>