<div class="container">
  <div class="row">
    <div class="faq col-md-8 offset-md-2">
      <h4 class="text-center"><b>Książki czytane</b></h4>
      <p>Książki, które aktualnie czytam. Staram się poświęcać przynajmniej godzinnę dziennnie na czytanie jedną z poniższych książek. </p>
      <dl class="faq">
        <dt>. 4 godzinne ciało</dt>
        <dt>. 4 godziny w tygodniu</dt>
        <dt>. Zaufanie. Waluta przyszłości</dt>
        <dt>. Fenomenalny poranek</dt>
        <dt>. Przestań się martwić. Zacznij działać</dt>

      </dl>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="faq col-md-8 offset-md-2">
      <h4 class="text-center"><b>Do przeczytania</b></h4>
      <p>Ksiązki, które chciałbym kupić oraz przeczytać.</p>
      <dl class="faq">
        <dt>. Bogaty ojciec. Bogaty syn</dt>
        <dt>. Getting things done</dt>
        <dt>. Cele!</dt>
      </dl>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="faq col-md-8 offset-md-2">
      <h4 class="text-center"><b>Książki przeczytane</b></h4>
      <p>Ksiązki, które już przeczytałem. Notatki są tutaj<a class="p-2 text-dark" [routerLink]="['/wiedza']">wiedza</a></p>
      <dl class="faq">
        <dt>. Finansowy Ninja</dt>
        <dd>Przeczytana 1 raz</dd>
        <dt>. Getting things done</dt>
        <dd>Przeczytana 1 raz</dd>
        <dt>. Cele!</dt>
        <dd>Przeczytana 1 raz</dd>
      </dl>
    </div>
  </div>
</div>
