<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h3><b>Moja list zadań</b></h3>
</div>
<div class="container">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h5 class="text-center"><b></b></h5>
      <p></p>

    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h5 class="text-center"><b>Do przeczytania</b></h5>
      <p>Ksiązki, które chciałbym kupić oraz przeczytać.</p>

    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h5 class="text-center"><b>Książki przeczytane</b></h5>
      <p>Ksiązki, które już przeczytałem. Notatki są tutaj<a class="p-2 text-dark" [routerLink]="['/wiedza']">wiedza</a></p>

    </div>
  </div>
</div>
