<div class="conteiner">
  <div class="row">
    <div class="md-col-8 offset-md-2">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/cialo.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="md-col-8 offset-md-1">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/domek.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="md-col-8 offset-md-1">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/firma.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>